---
import MediaLinks from "./MediaLinks.astro";
---

<section class="landing">
  <div class="left-col">
    <h1 class="landing-title">Hi there, I'm Sagar👋</h1>
    <p class="landing-description">
     I try to solve difficult problems of the VLSI industry, typically in the domains of Synthesis, Sign-Off and Low-Power using Computer Aided Design (CAD) algorithms and tools. Additionally, I'm working towards Machine Learning techniques to solve some of these problems. 
    </p>
    <div class="social-media-container">
      <MediaLinks
        alt="linkedin"
        imgSrc="https://sambeetpanda507.github.io/sagar-portfolio/assets/linkedin.png"
        path="https://www.linkedin.com/in/sagar-satapathy-09684912b/"
      />
      <MediaLinks alt="github" imgSrc="https://sambeetpanda507.github.io/sagar-portfolio/assets/github.png" path="https://github.com/sagarbaba" />
    </div>
  </div>
  <div class="right-col">
    <div class="img-container">
      <img
        src="https://sambeetpanda507.github.io/sagar-portfolio/assets/hero.png"
        alt="avatar"
        class="hero-img"
        height="300"
        width="300"
        loading="lazy"
      />
    </div>
  </div>
</section>

<style>
  .landing {
    text-align: center;
    display: grid;
  }

  .landing .left-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
    order: 1;
  }

  .left-col .landing-title {
    font-size: 3.2rem;
    line-height: 5rem;
  }

  .left-col .landing-description {
    font-size: 2rem;
    line-height: 3.2rem;
    word-spacing: 0.05rem;
    letter-spacing: 0.05rem;
  }

  .left-col .social-media-container {
    display: flex;
    gap: 2rem;
    margin-top: 0.25rem;
    align-items: center;
    justify-content: center;
  }

  .landing .right-col .img-container {
    height: 40rem;
    max-width: 40rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  .img-container img {
    width: 100%;
    height: auto;
    aspect-ratio: 1.4;
  }

  @media (min-width: 48em) {
    .landing {
      grid-template-columns: repeat(2, 1fr);
      text-align: left;
      margin-top: 6%;
    }

    .landing .left-col {
      order: 0;
    }

    .left-col .social-media-container {
      justify-content: start;
    }

    .landing .right-col .img-container {
      margin-right: unset;
    }
  }

  @media (min-width: 64em) {
    .landing {
      grid-template-columns: 2fr 1fr;
    }
  }
</style>
