---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header/index.astro";
import Landing from "../components/landing/index.astro";
import Education from "../components/education/index.astro";
import Experience from "../components/experience/index.astro";
import Publications from "../components/publications/index.astro";
---

<Layout title="Sagar Satapathy">
  <Header />
  <main>
    <Landing />
    <Education />
    <Experience />
    <Publications />
  </main>
</Layout>

<style></style>
